@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh;
  font-size: 16px;
  background-color: #3f51b5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
}

.custom-box {
  max-width: 700px;
  background-color: #fff;
  margin: 40px auto;
  padding: 30px;
  border-radius: 10px;
}

/* i had to remove this line "vertical-align: middle;"
of .button to avoid the linting error
*/

.button {
  border-radius: 10px;
  background-color: #3f51b5;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.home-box p span {
  font-weight: 500;
  color: #3f51b5;
}

.button:hover span {
  padding-right: 25px;
}

.button span::after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span::after {
  opacity: 1;
  right: 0;
}

.home-box h3 {
  font-size: 26px;
  color: #3f51b5;
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 25px;
}

.home-box p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 22px;
  color: black;
  font-weight: 400;
}

/* Question's Page */

/* Properties for the question container */
.question-container {
  background-color: #fff;
  max-width: 700px;
  margin: 40px auto;
  padding: 30px;
  text-align: left;
  border-radius: 10px;
}

/* Properties for the answers container */
.answers-container {
  background-color: transparent;
  max-width: 740px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
}

/* Properties for each answer */
.answers-box {
  background-color: #fff;
  box-sizing: border-box;
  max-width: 700px;
  margin: 20px auto;
  padding: 20px 30px;
  text-align: left;
  border-radius: 10px;
}

.answers-box:hover {
  box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
  background-color: lightgray;
  transform: scale(1.03);
}

.resultsBar-container {
  max-width: 350px;
  margin: 10px 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
}

.result-indication {
  height: 50px;
  width: 50px;
  background-color: #b8b8b8;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
}

/* Next button container */

.questions-body {
  background-color: #fff;
  width: auto;
  height: auto;
}

.next-button {
  display: flex;
  position: sticky;
  float: right;
  width: 120px;
  height: 45px;
  right: 28.5%;
}

#btn-next {
  background-color: #3f51b5;
  display: block;
  position: relative;
  width: 110px;
  height: 48px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  align-items: center;
  font-weight: 600;
  padding: 10px;
  bottom: 77px;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid transparent;
  box-shadow: 0 15px 10px -15px rgb(180, 174, 174);
  transition: all 0.5s;
}

#btn-next span {
  display: inline-block;
  position: relative;
  padding: 0 7px 0 5px;
}

#btn-next:hover {
  background-color: #f5f5f5;
  color: #3f51b5;
  border: 2px solid #c5c5c5;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

#btn-next:hover span {
  padding-right: 25px;
}

#btn-next span::after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  margin-left: 10px;
  padding-right: 8px;
  transition: 0.5s;
}

#btn-next:hover span::after {
  opacity: 1;
  right: 0;
}
